name: frondend 测试

on:
  push:
    branchs-ignore:
      - master
    tags-ignore:
      - *

jobs:
  windows-browsers:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: yarn install, test:karma, test:pptr
      run: |
        cd .\frondend
        call yarn cache clean || exit 1
        call yarn install || exit 1
        call yarn run test:karma || exit 1
        call yarn run test:pptr || exit 1
      env:
        CI: true
        KARMA_SINGLE_MODE: on
  # macos-browsers:
  #   runs-on: macos-latest

  #   steps:
  #   - uses: actions/checkout@v1
  #   - name: Use Node.js 10.x
  #     uses: actions/setup-node@v1
  #     with:
  #       node-version: 10.x
  #   - name: yarn install, test:karma, test:pptr
  #     run: |
  #       cd ./frondend
  #       yarn cache clean
  #       yarn install
  #       yarn run test:karma
  #       yarn run test:pptr
  #     env:
  #       CI: true
  #       KARMA_SINGLE_MODE: on

