name: frondend 测试

on:
  push:
    branches-ignore:
      - master
    tags-ignore:
      - v*

jobs:
  windows-browsers:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - uses: ./.github/actions/frondend-windows-test
    - name: Cache node modules
      uses: actions/cache@v1
      with:
        path: frondend\node_modules
        key: frondend-windows-browsers-${{ hashFiles('frondend/yarn.lock') }}
    - name: yarn install, test:karma, test:pptr
      shell: cmd
      run: |
        cd .\frondend
        call yarn cache clean || exit 1
        call yarn install || exit 1
        call yarn run test:karma || exit 1
        call yarn run test:pptr || exit 1
        call yarn run test:selenium:windows || exit 1
      env:
        CI: true
        KARMA_SINGLE_MODE: on
  # macos-browsers:
  #   runs-on: macos-latest

  #   steps:
  #   - uses: actions/checkout@v1
  #   - name: Use Node.js 10.x
  #     uses: actions/setup-node@v1
  #     with:
  #       node-version: 10.x
  #   - name: yarn install, test:karma, test:pptr
  #     run: |
  #       cd ./frondend
  #       yarn cache clean
  #       yarn install
  #       yarn run test:karma
  #       yarn run test:pptr
  #     env:
  #       CI: true
  #       KARMA_SINGLE_MODE: on
  bff-test:
    env:
      CI: true
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [8.x, 10.x, 12.x]
    steps:
    - uses: actions/checkout@v1
    - name: Cache node modules
      uses: actions/cache@v1
      with:
        path: frondend/node_modules
        key: frondend-bff-test-${{ matrix.node }}-${{ hashFiles('frondend/yarn.lock') }}
    - name: Use Node.js ${{ matrix.node }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node }}
    - name: yarn install, and test
      run: |
        cd ./frondend
        yarn --version
        yarn cache clean
        yarn install
        yarn run test:bff

